/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h2 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.galeria {
    text-align: center;
    margin-top: 10px;
}

.preview img {
    width: 300px;
    height: 300px;
    border: 3px solid #333;
    cursor: pointer;
    margin-bottom: 10px;
}

.preview p {
    font-size: 1.1em;
    color: #555;
    margin: 0;
}

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnails img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s, border-color 0.3s;
    border: 2px solid transparent;
}

.thumbnails img:hover {
    transform: scale(1.1);
    border-color: #4CAF50; /* Cambia el color del borde al pasar el ratón */
}